@font-face {
    font-family: dungeonFont;
    src: url('../css/dungeonFont/DUNGRG__.TTF')
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(../css/woodenBoards.jpeg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    max-width: 1100px;
}

.heading {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: dungeonFont;
}

h1 {
    display: inline;
    font-weight: bold;
    color: rgb(184, 39, 3);
    font-size: 50px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

@media(min-width: 768px) {
    h1 {
        font-size: 100px;
        background-color: transparent !important;
        border: none;
        padding: 0;
    }
}
@media(min-width: 1200px) {
    h1 {
        font-size: 200px;
    }
}

#gameBoard {
    background-image: url(../css/redFelt.jpg);
    border: 8px groove rgb(136, 104, 81);
    padding-top: 15px;
    margin-bottom: 15px;
}

.formBox {
    justify-content: center;
}

.formBoxCol {
    justify-content:center;
}

#imageInput {
    border-radius: 5px;
    border: 2px groove black;
    background-color: antiquewhite;
}

#formSubmit {
    background-color: rgb(225, 203, 162);
}

#clearAll {
    background-color: rgb(225, 203, 162);
}

@media(max-width: 575px) {
    #imageInput {
      width: 100px;
      font-size: 12px;
    }
}

.imageBox {
   justify-content: center;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: 15px;
   margin-right: 15px;
}


@media (max-height: 805px) and (min-width: 800px) {
    .imageBox {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
}

#aspectRatioBox {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.img-fluid {
    justify-content: center;
    border: 4px groove rgb(156, 89, 0);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

.boxRow {
    justify-content: center;
    padding-bottom: 15px;
   
}


.iconRow {
    flex-wrap: wrap;
    justify-content: space-between;
    border: 4px groove rgb(156, 89, 0);
    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(225, 203, 162)
  
}
@media(max-width: 767px) {
    .iconRow {
        width: 50%;
       
    }
    .producer {
        flex: 0;
    }
}

@media(max-width: 500px) {
    .iconRow {
        justify-content:space-evenly;
    }

    .iconRow .producer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0 !important;
    }
}
.iconRow button {
    font-family: dungeonFont;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding-bottom: 5px;
    line-height: 25px;
}


.iconRow button:focus {
    box-shadow: 5px 10px 8px #888888;
    border: none;
    outline: 1px solid black;
}
.red {
    color: red;
}

.blue {
    color: blue;
}

.special {
    text-align: center;
}

#addIconForm {
    text-align: center;
    padding-top: 3px;
}

@media(max-width: 991px) {

    .inputCol {
        width: 65px;
    }

    .radioCol {
        text-align: center;
    }

}
@media(max-width: 767px) {

    #addIconForm {
        justify-content: center;
    }
    .inputCol {
        padding-right: 0;
    }
    .radioCol {
        padding-top: 0.5rem;
    }
}

#addIconInput {
    height: 25px;
    line-height: 25px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: antiquewhite;
}

@media(max-width: 1201px) {
    #addIconInput {
        width: 70%;
    }
}
@media(max-width: 426px) {
    #addIconInput {
        width: 100%;
    }
}

.radioCol {
    font-size: 10px;
}

.radioBox {
    line-height: 10px;
    flex-wrap: wrap;
}

#toggleBlue,
#toggleRed {
    height: 10px;
}

.icon {
    position: absolute;
    top: -45px;
    left: 20px;
    z-index: 9;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
    font-family: dungeonFont;
    touch-action:none;
    white-space: nowrap;
}

@media(min-width: 992px) {
    .icon {
        font-size: 35px;
        line-height: 35px;
    }

    .iconRow button {
        font-size: 35px;
        line-height: 35px;
    }
}

@media(max-width: 767px) {
    .iconRow {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .icon {
        font-size: 20px;
        line-height: 20px;
    }

    .iconRow button {
        font-size: 20px;
        line-height: 20px;
    }
}


@media(max-width: 575px) {
    .icon {
        font-size: 10px;
        line-height: 10px;
    }

}