@font-face {
    font-family: dungeonFont;
    src: url('../css/dungeonFont/DUNGRG__.TTF')
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../css/paperBackground.jpg');
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container {
    max-width: 1100px;
}


.formBox {
    justify-content: center;
}

.formBoxCol {
    justify-content:space-between;
}


@media(max-width: 575px) {
    #imageInput {
      width: 100px;
      font-size: 12px;
    }
}


#aspectRatioBox {
    display: flex;
    justify-content: center;
    position: relative;
    
}

.img-fluid {
    justify-content: center;
    border: 4px groove rgb(156, 89, 0);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
}

.boxRow {
    justify-content: center;
   
}


.iconRow {
    flex-wrap: wrap;
    justify-content: space-between;
    border: 4px groove rgb(156, 89, 0);
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
  
}
@media(max-width: 767px) {
    .iconRow {
        width: 50%;
       
    }
    .producer {
        flex: 0;
    }
}

.iconRow button {
    font-family: dungeonFont;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding-bottom: 5px;
    line-height: 25px;
}

.iconRow button:focus {
    box-shadow: 5px 10px 8px #888888;
    border: none;
    outline: 1px solid black;
}
.red {
    color: red;
}

.blue {
    color: blue;
}

.special {
    text-align: center;
}

#addIconForm {
    text-align: center;
    padding-top: 3px;
}

@media(max-width: 991px) {

    .inputCol {
        width: 65px;
    }

    .radioCol {
        text-align: center;
    }

}
@media(max-width: 767px) {

    #addIconForm {
        justify-content: center;
    }
    .inputCol {
        padding-right: 0;
    }
    .radioCol {
        padding-top: 0.5rem;
    }
}

#addIconInput {
    height: 25px;
    line-height: 25px;
    width: 100%;
    border: 1px solid black;
}

@media(max-width: 1201px) {
    #addIconInput {
        width: 70%;
    }
}
@media(max-width: 426px) {
    #addIconInput {
        width: 100%;
    }
}

.radioCol {
    font-size: 10px;
}

.radioBox {
    line-height: 10px;
    flex-wrap: wrap;
}

#toggleBlue,
#toggleRed {
    height: 10px;
}

.icon {
    position: absolute;
    top: -45px;
    left: 20px;
    z-index: 9;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px;
    font-family: dungeonFont;
    touch-action:none;
}

@media(min-width: 992px) {
    .icon {
        font-size: 35px;
        line-height: 35px;
    }

    .iconRow button {
        font-size: 35px;
        line-height: 35px;
    }
}

@media(max-width: 767px) {
    .iconRow {
        margin-left: 15px;
        margin-right: 15px;
        padding-left: 0;
        padding-right: 0;
    }

    .icon {
        font-size: 20px;
        line-height: 20px;
    }

    .iconRow button {
        font-size: 20px;
        line-height: 20px;
    }
}

@media(max-width: 575px) {
    .icon {
        font-size: 10px;
        line-height: 10px;
    }

}